<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<h2>公司交易管理 --- 交易管理-【交易记录】</h2>
<div>
    <div style="padding:5px 0;">
        <a target="_blank" href="/pre" class="easyui-linkbutton" >更新数据</a>&nbsp;
        <span>类型:</span>
        <select class="easyui-combobox" id="stockType" name="stockType" style="width:70px;">
            <option value="10"  th:selected="${stockType == 10} " >当日</option>
            <option value="70" th:selected="${stockType == 70} " >五日</option>
            <option value="40">空间</option>
        </select>
        &nbsp;日期:<input class="easyui-textbox" type="text"  name="dayFormat" id="dayFormat" >
        &nbsp;CODE:<input class="easyui-textbox" type="text"  name="code" id="code"  th:value="${code}">
        &nbsp;<span>板块:</span> <input class="easyui-textbox" type="text"  name="plateName" id="plateName" >
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        &nbsp;<a href="#" class="easyui-linkbutton" onclick="getSelectedck()">查看个股</a>
        &nbsp;<a target="_blank" href="/review.html" class="easyui-linkbutton" >查看历史</a>
        <input type="text" value="1" id="dateEnd" onkeyup="onKeyUpEnter(event)">

    </div>

</div>
<table id="dg" title="人才库"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th data-options="field:'hotSort',align:'center'">排行</th>
        <th data-options="field:'hotValue',align:'center'">热搜</th>
        <th data-options="field:'hotSeven',align:'center'">7日</th>
        <th data-options="field:'continuous',align:'center'">连板</th>
        <th data-options="field:'dayFormat',align:'center'">日期</th>
        <th data-options="field:'code',align:'center'">代码</th>
        <th data-options="field:'name',align:'center'">名称</th>
        <th data-options="field:'yesterdayClosePrice',align:'center'">昨日价</th>
        <th data-options="field:'plateName',align:'center'">板块</th>
        <th data-options="field:'openBidRate',align:'center'">竞价开</th>
        <th data-options="field:'todayCloseYield',align:'center'">竞价收</th>
        <th data-options="field:'tomorrowOpenYield',align:'center'">隔日开</th>
        <th data-options="field:'tomorrowCloseYield',align:'center'">隔日收</th>


    </tr>
    </thead>
</table>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            pageSize:10,
            pageList:[10,20],
            url:'/tgb/list.action',
            queryParams:{
                code: $("#code").val(),
                stockType: $("#stockType").val()
            },

        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            code: $("#code").val(),
            stockType: $("#stockType").val(),
            dayFormat: $("#dayFormat").val()
        });
    });
    function getSelectedck(){
        var row = $('#dg').datagrid('getSelected');
        if(row==null){
            $.messager.alert('Info', "请选择一个CODE，进行查看");
            return;
        }
        if (row){
            window.open('/tgb/list.html?code='+row.code+"&stockType="+row.stockType);
        }
    }

    function onKeyUpEnter(e) {
        if (e.keyCode == 13) {
            scan();
        }else if(e.keyCode == 37){
            //pre
            $("#dateEnd").val(2);
            scan();
        }
        else if(e.keyCode == 39){
            //next
            $("#dateEnd").val(3);
            scan();
        }
    }
    function scan() {
        $('#dg').datagrid('load', {
            code: $("#code").val(),
            stockType: $("#stockType").val(),
            openCount:$("#dateEnd").val()
        });
    }
</script>

</body>
</html>