<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<div>
    <div style="padding:5px 0;">
        日期:<input class="easyui-textbox" type="text"  name="dayFormat" id="dayFormat" >
        &nbsp;<span>板块:</span> <input class="easyui-textbox" type="text"  name="plateName" id="plateName" >
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        &nbsp;<a target="_blank" href="/uphot.html" class="easyui-linkbutton" >uphot</a>
        &nbsp;<a target="_blank" href="/hot.html" class="easyui-linkbutton" >hot</a>
        &nbsp;<a target="_blank" href="/tgb/list.html" class="easyui-linkbutton" >tgb</a>
        &nbsp;<a href="#" class="easyui-linkbutton" onclick="getSelectedck()">查看个股</a>
        &nbsp;<a target="_blank" href="/nbyyb/list.html" class="easyui-linkbutton" >yyb</a>
        &nbsp;<a target="_blank" href="/review.html" class="easyui-linkbutton" >查看历史</a>
        <input type="text" value="1" id="dateEnd" onkeyup="onKeyUpEnter(event)">

    </div>

</div>
<table id="dg" title="连扳梯队"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th data-options="field:'continueBoardCount',align:'center'">连板</th>
        <th data-options="field:'dayFormat',align:'center'">日期</th>
        <th data-options="field:'code',align:'center'">代码</th>
        <th data-options="field:'name',align:'center'">名称</th>
        <th data-options="field:'yesterdayClose',align:'center'">昨日价</th>
        <th data-options="field:'todayOpen',align:'center'">今日开</th>
        <th data-options="field:'plateName',align:'center'">板块</th>
        <th data-options="field:'todayOpenRate',align:'center'">竞价开</th>
        <th data-options="field:'todayCloseRate',align:'center'">竞价收</th>
        <th data-options="field:'todayCloseEarnings',align:'center'">竞价收益</th>
        <th data-options="field:'tomorrowOpenEarnings',align:'center'">隔日开</th>
        <th data-options="field:'tomorrowCloseEarnings',align:'center'">隔日收</th>

    </tr>
    </thead>
</table>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            pageSize:10,
            pageList:[10,20],
            url:'/up/list.action',
            /*queryParams:{
                code: $("#code").val(),
                stockType: $("#stockType").val()
            },*/

        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            /*code: $("#code").val(),
            stockType: $("#stockType").val(),*/
            dayFormat: $("#dayFormat").val()
        });
    });
    function getSelectedck(){
        var row = $('#dg').datagrid('getSelected');
        if(row==null){
            $.messager.alert('Info', "请选择一个CODE，进行查看");
            return;
        }
        if (row){
            window.open('/tgb/list.html?code='+row.code+"&stockType="+row.stockType);
        }
    }

    function onKeyUpEnter(e) {
        if (e.keyCode == 13) {
            scan();
        }else if(e.keyCode == 37){
            //pre
            $("#dateEnd").val(2);
            scan();
        }
        else if(e.keyCode == 39){
            //next
            $("#dateEnd").val(3);
            scan();
        }
    }
    function scan() {
        $('#dg').datagrid('load', {
           /* code: $("#code").val(),
            stockType: $("#stockType").val(),*/
            openCount:$("#dateEnd").val()
        });
    }
</script>

</body>
</html>