<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<div>
    <div style="padding:5px 0;">
        日期:<input class="easyui-textbox" type="text" name="dayFormat" id="dayFormat" >
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        &nbsp;<a target="_blank" href="/up/list.html" class="easyui-linkbutton" >up</a>
        &nbsp;<a target="_blank" href="/stop/optlist.html" class="easyui-linkbutton" >stop-opt</a>
        &nbsp;<a target="_blank" href="/stop/tlist.html" class="easyui-linkbutton" >stop-tem</a>
        &nbsp;<a target="_blank" href="/hot.html" class="easyui-linkbutton" >hot</a>
        &nbsp;<a target="_blank" href="/tgb/list.html" class="easyui-linkbutton" >tgb</a>
        &nbsp;<a target="_blank" href="/review.html" class="easyui-linkbutton" >查看历史</a>
        &nbsp;<a target="_blank" href="/up/add/1/1" class="easyui-linkbutton" >添加灵魂/TYPE/CODE</a>
        <input type="text" value="1" id="dateEnd" onkeyup="onKeyUpEnter(event)">

    </div>

</div>
<table id="dg" title="温度实时盘面-重视开盘异常跌停"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th data-options="field:'current',align:'center'">时间</th>
        <th data-options="field:'tradeVal',align:'center'">上证量</th>
        <th data-options="field:'strongDowns',align:'center'">核按钮</th>
        <th data-options="field:'limitDown',align:'center'">跌停</th>
        <th data-options="field:'raise',align:'center'">上涨</th>
        <th data-options="field:'down',align:'center'">下跌</th>
        <th data-options="field:'superUpCount',align:'center'">强势</th>
        <th data-options="field:'superCount',align:'center'">大阳</th>
        <th data-options="field:'continueCount',align:'center'">连版数</th>
        <th data-options="field:'limitUp',align:'center'">涨停</th>
        <th data-options="field:'open',align:'center'">炸版</th>
        <th data-options="field:'yesterdayShowText',align:'center'">昨日表现</th>
        <th data-options="field:'continueVal',align:'center'">连板表现</th>
        <th data-options="field:'brokenRatioText',align:'center'">炸版表现</th>

    </tr>
    </thead>
</table>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            pageSize:10,
            pageList:[10,20],
            url:'/stop/clist.action',
            /*queryParams:{
                code: $("#code").val(),
                stockType: $("#stockType").val()
            },*/

        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            /*code: $("#code").val(),
            stockType: $("#stockType").val(),*/
            dayFormat: $("#dayFormat").val()
        });
    });


    function onKeyUpEnter(e) {
        if (e.keyCode == 13) {
            scan();
        }else if(e.keyCode == 37){
            //pre
            $("#dateEnd").val(2);
            scan();
        }
        else if(e.keyCode == 39){
            //next
            $("#dateEnd").val(3);
            scan();
        }
    }
    function scan() {
        $('#dg').datagrid('load', {
           /* code: $("#code").val(),
            stockType: $("#stockType").val(),*/
            dayFormat:$("#dateEnd").val()
        });
    }
</script>

</body>
</html>