<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<div>
    <div style="padding:5px 0;">
        <span>类型:</span>
        <select class="easyui-combobox" id="rankType" name="rankType" style="width:70px;">
            <option  value="-1">ALL</option>
            <option value="10"  th:selected="${rankType == 10} " >TGB</option>
            <option value="20" th:selected="${rankType == 20} " >THS</option>
            <option value="30" th:selected="${rankType == 30} " >CJL</option>
            <option value="40" th:selected="${rankType == 40} " >WAN</option>
            <option value="40" th:selected="${rankType == 50} " >HOLD</option>
        </select>
        &nbsp;<a href="#" id="query" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
        &nbsp;<a target="_blank" href="/rank/dealRank.action" class="easyui-linkbutton" >更新排行数据</a>
        &nbsp;<a target="_blank" href="/rank/dealThsRank.action" class="easyui-linkbutton" >更新THS排行数据</a>
        &nbsp;<a target="_blank" href="/importRank" class="easyui-linkbutton" >导入THS排行数据</a>
        &nbsp;<a target="_blank" href="/rank/staFlow.html" class="easyui-linkbutton" >排行Flow</a>
        &nbsp;<a target="_blank" href="/up/list.html" class="easyui-linkbutton" >up</a>
        &nbsp;<a target="_blank" href="/stop/alllist.html" class="easyui-linkbutton" >类型ALL</a>
        &nbsp;<a target="_blank" href="/pre" class="easyui-linkbutton" >更新类型ALL</a>
        <input type="text" name="dayFormat"  value="" id="dateEnd" onkeyup="onKeyUpEnter(event)">

    </div>

</div>
<table id="dg" title="排行标的，当日观察，重视跌停"
       toolbar="#toolbar" pagination="true" idField="id"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
    <tr>
        <th data-options="field:'rankTypeName',align:'center'">类型</th>
        <th data-options="field:'rankType',align:'center'">TYPE</th>
        <th data-options="field:'hotSort',align:'center'">排行</th>
        <th data-options="field:'hotValue',align:'center'">热搜</th>
        <th data-options="field:'continuous',align:'center'">连板</th>
        <th data-options="field:'dayFormat',align:'center'">日期</th>
        <th data-options="field:'code',align:'center'">代码</th>
        <th data-options="field:'name',align:'center'">名称</th>
        <th data-options="field:'showCount',align:'center'">连续</th>
        <th data-options="field:'yesterdayClosePriceText',align:'center'">昨日价</th>
        <th data-options="field:'plateName',align:'center'">板块</th>
        <th data-options="field:'todayState',align:'center'">涨停状态</th>
        <th data-options="field:'firstOpenRate',align:'center'">竞价开</th>
        <th data-options="field:'firstCloseRate',align:'center'">竞价收</th>
        <th data-options="field:'todayOpenPriceText',align:'center'">当日开盘价</th>
        <th data-options="field:'todayClosePriceText',align:'center'">当日收盘价</th>
        <th data-options="field:'tomorrowOpenPriceText',align:'center'">第二日开盘价</th>
        <th data-options="field:'tomorrowClosePriceText',align:'center'">第二日收盘价</th>
        <th data-options="field:'threeOpenPriceText',align:'center'">第三日开盘价</th>
        <th data-options="field:'threeClosePriceText',align:'center'">第三日收盘价</th>

    </tr>
    </thead>
</table>

<script type="text/javascript">
    $(function(){
        $('#dg').edatagrid({
            pageSize:10,
            pageList:[10,20],
            url:'/rank/alllist.action',
            /*queryParams:{
                code: $("#code").val(),
                stockType: $("#stockType").val()
            },*/

        });
    });
    $("#query").click(function () {
        $('#dg').datagrid('load', {
            /*code: $("#code").val(),
            stockType: $("#stockType").val(),*/
            dayFormat: $("#dayFormat").val()
        });
    });


    function onKeyUpEnter(e) {
        if (e.keyCode == 13) {
            scan();
        }else if(e.keyCode == 37){
            //pre
            $("#dateEnd").val(2);
            scan();
        }
        else if(e.keyCode == 39){
            //next
            $("#dateEnd").val(3);
            scan();
        }
    }
    function scan() {
        $('#dg').datagrid('load', {
            /* code: $("#code").val(),*/
            rankType: $("#rankType").val(),
            dayFormat:$("#dateEnd").val()
        });
    }
</script>

</body>
</html>