<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="head :: header"></div>
<body>
<div th:include="menu :: menu"></div>
<h2>导入排行数据</h2>
<div class="easyui-panel" title="Ajax Form" style="width:300px;padding:10px;">
    <span>当天的处理</span>
    <form id="ff" action="/importExcelRankT.action" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>xlsx:</td>
                <td><input name="file" class="f1 easyui-filebox"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input  type="submit" value="导入"></input></td>
            </tr>
        </table>
    </form>
    <hr>
    <hr>
    <span>上一天的处理</span>
    <form id="ff" action="/importExcelRankY.action" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>xlsx:</td>
                <td><input name="file" class="f1 easyui-filebox"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input  type="submit" value="导入"></input></td>
            </tr>
        </table>
    </form>
</div>


<style scoped>
    .f1{
        width:200px;
    }
</style>
<script type="text/javascript">
    $(function(){
        $('#ff').form({
            iframe: false,
            success:function(data){
                $.messager.alert('Info', data, 'info');
            }
        });
    });

</script>
</body>

</html>